nav {
  display: flex;
  gap: 2rem;
  padding: 1rem 2rem;
  background: #121212;
  border-bottom: 1px solid #333;
}

nav a {
  color: #aaa;
  font-size: 1.1rem;
  text-decoration: none;
  transition: 0.3s;
}

nav a:hover {
  color: #fff;
}

nav a.active {
  color: #4dabf7;
  border-bottom: 2px solid #4dabf7;
  padding-bottom: 4px;
}
